body {
    display: flex;
    flex-direction: column;
    font-family: "roboto", sans-serif;
    padding: 0;
    margin: 0;
}

.first-layer {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 10px 350px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 75px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-list {
    display: flex;
    gap: 16px;
    color: #e7e5eb;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.start-info {
    display: flex;
}

.hero {
    padding: 16px;
    flex-basis: 100%;
}

.hero-main-text {
    width: 80%;
    font-size: 60px;
    font-weight: 700;
    color: #f9faf8;
}

.hero-scnd-text {
    width: 75%;
    margin-top: 10px;
    color: #e7e5eb;
    font-size: 18px;
}

.button-style {
    font-size: 24px;
    background-color: #3882F6;
    padding: 5px 30px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    border: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentheading {
    color: #1f2937;
    font-size: 36pt;
    font-weight: 700;
    margin-top: 40px;  
    margin-bottom: 40px;  
}

.maincontent {
    display: flex;
    gap: 80px;
    margin-bottom: 100px;
}

.imgph2 {
    height: 210px;
    width: 210px;
    border-radius: 10px;
    border: solid blue 3px;
}

.item {
    width: 210px;
    text-align: center;
}

.itemtext {
    font-size: 22px;
    margin-top: 10px;
}

.quote {
    padding: 150px 450px;
    background-color: #e7e5eb;
}

.quotetext {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.philosopher {
    text-align: right;
    font-size: 36px;
    font-weight: 800;
}

.final-layer {
    padding: 100px 350px;
}

.signupmsg {
    display: flex;
    background-color: #3882F6;
    padding: 50px 120px;
    border-radius: 8px;
    justify-content: space-between;
}

.signup {
    display: flex;
    flex-direction: column;

}

.textsign {
    color: #f9faf8;
    font-size: 28px;
}

.textsign1 {
    color: #f9faf8;
    font-size: 20px;
}

.signup1 {
    font-size: 24px;
    background-color: #3882F6;
    padding: 5px 30px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    border: solid white 2px;
}

.footerlast {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    color: #f9faf8;
}